<!DOCTYPE html>
<html lang="te">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="logo1" href="/static/default.png" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/static/home.css">
    <title>Invoice Parser</title> 
</head>
<body>   
    <header class="header">
        <nav>
            <input id="nav-toggle" type="checkbox">
            
            <ul class="links">
                
                {%if session['username']%}<li><span onclick="openForm()"><img src="/static/user.png" class="logo1" alt="info" style="margin-top:5px;height:50px;width:50px;"></span></li>{%endif%}
            </ul>
           
        </nav>
    </header><!-- Button to open the form -->
    
    <div class="form-popup" id="myForm">
      <form class="form-container" >
        <span onclick="closeForm()" class="close" title="Close window">&times;</span>
        <center><img src="/static/user.png"  style="border-radius:2.8cm"><br><br>
          <label for="email"><b><span style="color:#fff">{{session['username']}}</span></b></label>
          <hr><br>
          <label for="email"><b><span style="color:#fff">Hai...Welcome to Invoice Parser :)</span></b></label>
          <br><br>
          <label for="psw"><b><span style="color:#fff"></span></b></label>
          
        </center>
        <br>
        <hr><br>
        {%if session['username'] and session['username']!="admin"%}
        <button type="button" class="btn" onclick="document.location='/viewdata' "><b>viewdata</b></button>{%endif%}
        {%if session['username']=="admin"%}
        <button type="button" class="btn" onclick="document.location='/add_checker' "><b>addchecker</b></button>{%endif%}
        {%if session['username']=="admin"%}
        <button type="button" class="btn" onclick="document.location='/admin_data' "><b>admindata</b></button>{%endif%}
        {%if session['username']%}
        <button type="button" class="btn" onclick="document.location='/logout' "><b>logout</b></button>{%endif%}
      </form>
      
    </div>
    <main>
        <section id="Home">
        <div class="hero">
            <h2 style="color:tomato">{{message}}</h2>
            <h1>Invoice Parser</h1><br>
            <div>
                {%if not session['username']%}
               <button type="button" onclick="document.location='/login'" class="button">LOGIN</button>{%endif%}
                <button type="button" onclick="document.location='/parse_invoice'" class="button">Parse Invoice</button>
                <!-- <button type="button" onclick="document.location='/login'" class="button">LOGIN</button> -->
            </div>
        </div>
    </section>
    
</main>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function (){
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
        function openForm() {
            document.getElementById("myForm").style.display = "block";
          }
    
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
    </script>
</body>
</html>